body {
  display: grid;
  justify-content: center;
  background-color: azure;
  transition: background-color 1000ms linear;
}

table {
  border: 32px solid;
  border-color: darkslategray;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px #000;
}

.light-cell {
  width: 45px;
  height: 49px;
  background: white;
  border: 1px black solid;
  user-select: none;
}

.dark-cell {
  width: 45px;
  height: 49px;
  background: gray;
  border: 1px black solid;
  user-select: none;
}

td:hover {
  background: lightgreen;
  cursor: pointer;
}

.selected {
  background-color: lightgreen;
}

.possible-move {
  background-color: lightgreen;
}

.winner-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  width: max-content;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  user-select: none;
}

.start-again {
  position: absolute;
  left: 49.75%;
  top: 58%;
  font-size: 20px;
  font-weight: 200;
  width: max-content;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  z-index: 9999;
}

.title {
  font-size: 32px;
  text-align: center;
  color: #c5c5c5;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  line-height: 0.9;
}

/* .disabled {
  pointer-events: none;
} */